@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
}

a{
    text-decoration: none;
}

.main_container{
    display: grid;
    width: 100%;
    margin: 1rem;
    gap: 1rem;
}

.box_container{
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 1rem;
    column-gap: 4rem; 
}

.img_box{
    width: 125px;
    height: 125px;
}

.img_box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.song_content{
    cursor: pointer;
}

.song_content #song-title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}

.song_content #song-artist{
    color: #cccaca;
    text-transform:capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

@media screen and (min-width : 768px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}